<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Sign Up!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src = 
      "../static/PolitiBate_Logo.png" ></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
   <form method="POST" action="/login"><center><h1><center>Make an Account!</center></h1>
        <table>
        <tr> <td>Create an Account</td> </tr>
        <tr> <td>Username</td><td><input type="text" name="username" size="20" value=""></td> </tr>
        <tr> <td>Password</td><td><input type="password" name="password" size="20" value=""></td> </tr>
        <tr> <td>Retype Password</td><td><input type="password" name="rpassword" size="20" value=""></td> </tr>
        <tr><td><input type="submit" name="Submit" value="Create!" class="btn-large waves-effect waves-light red"></td> </tr>
        </table></center><br>
    <form method="POST" action ="/politibate"><center><h2><center> Log In! </center></h2>
        <table>
            <tr> <td>Log in to your account</td></tr>
            <tr> <td>Username</td><td><input type="text" name="username" size="20" value=""></td> </tr>
            <tr> <td>Password</td><td><input type="password" name="password" size="20" value=""></td> </tr>
            <tr> <td><input type="submit" name="Submit" value="Login" class="btn-large waves-effect waves-light red"></td> </tr>
            </table></center></form></body>

<footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">This website was made for defHacks() by Fidel Briones, Willain Xiang,
           Vicente Gomez, and Kerr Yoo. Hope you enjoy!</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </html>
