<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Topics!</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src = 
      "../static/PolitiBate_Logo.png" ></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <h1 class="header center red-text">
	  
		Choose Your Topic!
	  
	  </h1>
        <table>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">2016 Presedential Election</a></center></td><td>The 2016 Presidential Race is up and running. Debate who you feel should represent either the Republicans or Democrats and in the end, who should become President</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Medical Marijuana?</a></center></td><td>Medical Marijuana has been crutial in the medical field. However, some people abuse its main use. Debate whether or not marijuana should continue to be used for medical purposes</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Gun Control?</a></center></td><td>Guns have been used on both sides of the law. Police officers have used guns to protect the people, however, individuals use illegeally owned guns to commit crimes. Debate whether or not gun laws in</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Commercial Testing on Animals?</a></center></td><td>Animals have been used for many things that better the lives of humans like clothing, and food. Debate on whether or not we should continue doing this to animals.</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Death Penalty?</a></center></td><td>Different forms of the Death Penaltly have been around for thousands of years, from hanging to lethal injection. Debate on whether or not the death penalty should be used in our justice system.</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">School Uniforms?</a></center></td><td>Information</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Increase Minimum Wage?</a></center></td><td>Information</td> </tr>
        <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Abortions? </a></center></td><td>Information</td> </tr>
          <tr> <td><center><a href="http://sol-route.com/politibate/login" id="download-button" class="btn-large waves-effect waves-light red">Illegal Immigration</a></center></td><td>Information</td> </tr>
        
        </table></center><br>
    
<footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">This website was made for defHacks() by Fidel Briones, Willain Xiang,
           Vicente Gomez, and Kerr Yoo. Hope you enjoy!</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  </html>
