<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="refresh" content="10" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
 <script type="text/JavaScript">
         <!--
            function AutoRefresh( t ) {
               setTimeout("location.reload(true);", t);
            }
         //-->
      </script>
<title>Medical Marijuana Debate</title>
<link rel="shortcut icon" href="../static/favycon.png" type="image/x-icon">
  <link rel="icon" href="../static/favycon.png" type="image/x-icon">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 </head>
<body onLoad="window.scrollTo(0,document.body.scrollHeight);" onload="JavaScript:AutoRefresh(5000);">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://sol-route.com/politibate/" class="brand-logo"><img src = 
      "../static/PolitiBate_Logo.png" ></a>
     <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>
	
	<br><br>
	<h1><center>Medical Marijuana Debate</center></h1>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
<table>

  <tr><td style="width:40px"><b> fidel:</b> &nbsp; Drugs r bad </td></tr>

  <tr><td style="width:40px"><b> goatee:</b> &nbsp; yo </td></tr>

  <tr><td style="width:40px"><b> VicenteG24:</b> &nbsp; hey </td></tr>

  <tr><td style="width:40px"><b> VicenteG24:</b> &nbsp; i love weed </td></tr>

  <tr><td style="width:40px"><b> VicenteG24:</b> &nbsp; weed foreverf </td></tr>

  <tr><td style="width:40px"><b> goatee:</b> &nbsp; yo </td></tr>

  <tr><td style="width:40px"><b> VicenteG24:</b> &nbsp; the walking deaddddd </td></tr>

  <tr><td style="width:40px"><b> goatee:</b> &nbsp; ayyy lmao </td></tr>

  <tr><td style="width:40px"><b> qazwsx:</b> &nbsp; nah drugs are good </td></tr>

  <tr><td style="width:40px"><b> William:</b> &nbsp; lmaoooo </td></tr>

  <tr><td style="width:40px"><b> qazwsx:</b> &nbsp; woah </td></tr>

  <tr><td style="width:40px"><b> William:</b> &nbsp; :)))))))))))))))))))))))))))))))))) </td></tr>

  <tr><td style="width:40px"><b> Fidel:</b> &nbsp; Hello </td></tr>

  <tr><td style="width:40px"><b> Vicenteg24:</b> &nbsp; Hey john </td></tr>

  <tr><td style="width:40px"><b> RichardMcCrotch:</b> &nbsp; Sup babe </td></tr>

  <tr><td style="width:40px"><b> v.gomez:</b> &nbsp; this chat works </td></tr>
<!-- TAGLINE -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

	</table>
	<center>
	<br>
	
	
	<form method="POST" action ="/politibate/debate" class="container">
		<input type="text" name="comment" placeholder="Enter a Comment" style="width: 400px;" id="field">
		<input type="hidden" name="room" value="marijuana">
	</form>
	</center>
	<br><br>
	<center>
	<a href="http://sol-route.com/politibate/logout" id="download-button" class="btn-large waves-effect waves-light red">Log Out</a>
	</center>
 </html>