<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
 <meta http-equiv="refresh" content="10" />

<title>Minimum Wage Debate</title>
<link rel="shortcut icon" href="../static/favycon.png" type="image/x-icon">
  <link rel="icon" href="../static/favycon.png" type="image/x-icon">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 </head>
<body onLoad="window.scrollTo(0,document.body.scrollHeight);">
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="http://sol-route.com/politibate/" class="brand-logo"><img src = 
      "../static/PolitiBate_Logo.png" ></a>
     <!-- <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>
	
	<br><br>
	<h1><center>Minimum Wage Debate</center></h1>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
<table>

  <tr><td style="width:40px"><b> fidel:</b> &nbsp; People don't have enough money to live! </td></tr>

  <tr><td style="width:40px"><b> None:</b> &nbsp; Hi </td></tr>

  <tr><td style="width:40px"><b> None:</b> &nbsp; I feel that that is tre </td></tr>

  <tr><td style="width:40px"><b> None:</b> &nbsp; true* </td></tr>

  <tr><td style="width:40px"><b> None:</b> &nbsp; true* </td></tr>

  <tr><td style="width:40px"><b> Fidel:</b> &nbsp; yes </td></tr>

  <tr><td style="width:40px"><b> None:</b> &nbsp; Minimum wage should be increased; people who are working forty hours a week shouldn't be struggling to pay their rent. </td></tr>

  <tr><td style="width:40px"><b> souper222:</b> &nbsp; The best minimum wage is Zero! In Hong Kong its only 3 dollars an hour which allows more new businesses to be created, more competition, and lower prices.  </td></tr>

  <tr><td style="width:40px"><b> souper222:</b> &nbsp; The best minimum wage is Zero! In Hong Kong its only 3 dollars an hour which allows more new businesses to be created, more competition, and lower prices.  </td></tr>

  <tr><td style="width:40px"><b> William:</b> &nbsp; interesting </td></tr>
<!-- TAGLINE -->
  
  
  
  
  
  
  
  
  
  

	</table>
	<center>
	<br>
	
	
	<form method="POST" action ="/politibate/debate" class="container">
		<input type="text" name="comment" placeholder="Enter a Comment" style="width: 400px;" id="field">
		<input type="hidden" name="room" value="minWage">
	</form>
	</center>
	<br><br>
	<center>
	<a href="http://sol-route.com/politibate/logout" id="download-button" class="btn-large waves-effect waves-light red">Log Out</a>
	</center>
 </html>